# Build artifacts
*/build/
*/.arduino/
*.bin
*.elf
*.hex
*.d

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.cpp
*.cpp.d
*.merged
*.ipynb
.Python
venv/
env/

firmware_01_build/
firmware_02_build/
firmware_03_build/

# IDE
.vscode/
.idea/
*.swp
*.swo
*.o
*.cpp
*.merged
*.map
*.a
*.h
*.cache

# OS garbage
.DS_Store
Thumbs.db

