# Build artifacts
*/build/
*/.arduino/
*.bin
*.elf
*.hex
*.d

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
venv/
env/

# IDE
.vscode/
.idea/
*.swp
*.swo
*.o
*.cpp
*.merged
*.map
*.a
*.h

# OS garbage
.DS_Store
Thumbs.db

